/* Normalizers */
* {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Viewport */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Field */
#field {
  display: grid;
  width: 400px;
  height: 400px;
  list-style: none;
  column-gap: 2px;
  row-gap: 2px;
  margin-bottom: 32px;
}

li {
  background-color: thistle;
}

.start {
  background-color: blue;
}

.obstacle {
  background-color: black;
}

.considered {
  background-color: aquamarine;
}

.path {
  background-color: violet;
}

.blocked {
  background-color: darkred;
}

.target {
  background-color: tomato;
}

.start,
.obstacle,
.blocked {
  color: white;
}

#field li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40%;
}

#key {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 32px;
}

#key li {
  padding: 2px 8px;
}

/* Form */
button {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid grey;
}
